WCF/WCFExamples/WcfClient/Connected Services/myServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddFunc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" type="xs:double" />
        <xs:element minOccurs="0" name="second" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFuncResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubFunc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" type="xs:double" />
        <xs:element minOccurs="0" name="second" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubFuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubFuncResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>